/* import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');

.body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  z-index: 100000;
  display: flex;
}
:root{
  --light-gray:#2b3032a1;
  --primary-color:#F7941D;;
  --border:#2b303218;
  --text-color:#ff686b;
  --roboto:"Roboto",sans-serif;
  --gugi:"Gugi",cursive;
  --sofia:"Sofia",cursive;
}
.primary-color{
  color:var(--primary-color);
}
  .bg-primary-color{
    background-color: var(--primary-color)!important;
  }
  .text-color{
    color:var(--text-color);
  }
  .font-roboto{
    font-family:var(--roboto);
  }
  .lightblue{
    color: lightblue;
  }
/*header*/
header{
  background: linear-gradient(to right, #1e3c72, #2a5298);
  /* background-color:var(--primary-color); */
  font-family: var(--roboto);
}
header .site-title{
  font-family:var(--gugi);
}
.container.dropdown-toggle, .container.dropdown-item{
  font-size: 0.7em;
}
.header-links a{
  font-size: 0.9em;
  text-decoration: none;
  color: white!important;
  margin-top: auto;
}
/*Navigation Menu*/
.navbar-nav{
  padding:0.8em 0em;
}
.navbar-nav .nav-link{
  font-size:0.9em;
  color:var(--light-gray)!important;
  margin-right: 10px;
  font-weight: bold;
}
.navbar-nav .nav-item .navbar-link{
  padding:0 1.3em;
}
.navbar-nav .basket-icon{
  margin-right: 1.25rem!important;
}
/* .d-block{
  height:40%;
} */
.fa-shopping-basket{
  color: #000000!important;
}

h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em; margin-top: 35px;}
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
.jumbotron{
  margin-top: 10px;
  background-color: white;
  margin-bottom: auto;
}

.shop-newsletter{
	background:#fff;
  margin-bottom: 20px;
}
.shop-newsletter .inner{
	text-align:center;
}
.shop-newsletter .inner h4 {
	color: #333;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
  text-transform:capitalize; font-size:1.7em; margin-top: 35px;
}
.shop-newsletter .inner p{
	color:#777;
	font-size:14px;
	font-weight:400;
	margin-bottom:30px;
}
.shop-newsletter .inner p span{
	color:#F7941D;
}
.shop-newsletter .newsletter-inner{
	position:relative;
	display: inline-block;
}
.shop-newsletter .newsletter-inner input {
	width: 480px;
	height: 55px;
	border-radius: 0px;
	padding: 0px 30px;
	font-weight: 400;
	display: inline-block;
	text-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border: 1px solid #ececec;
	border-radius: 30px 0 0 30px;
}
.shop-newsletter .newsletter-inner button{
	border:none;
	text-shadow:none;
	box-shadow:none;
	border-radius:0;
}
.shop-newsletter .newsletter-inner .btn {
	display: inline-block;
	height: 55px;
	padding: 10px 30px;
	position: relative;
	top: 0;
	background: linear-gradient(to right, #3c3b3f, #605c3c);
	color: #fff;
	left: -4px;
	border-radius: 0 30px 30px 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
.shop-newsletter .newsletter-inner .btn:hover{
	background:#333;
	color:#fff;
}

/*======================================
   Start Shop Services CSS
========================================*/
.shop-services.section {
	padding: 80px 0 0px 0;
	background: #fff;
}
.shop-services.home{
	padding:60px 0;
	background:#F6F7FB;
}
.shop-services .single-service {
	position: relative;
	padding-left: 65px;
}
.shop-services .single-service i {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	color: #333;
	background: transparent;
	border-radius: 100%;
	display: block;
	font-size: 32px;
	position: absolute;
	left: 0;
	top: 0;
}
.shop-services .single-service h4 {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 22px;
	color: #333;
}
.shop-services .single-service p {
	color: #898989;
	line-height: 28px;
	font-size:14px;
}
/*======================================
   End Shop Services CSS
========================================*/

.col_white_amrc { color:#fcf9f9;}
footer { width:100%;   background: linear-gradient(to right, #1e3c72, #2a5298); min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#fcf9f9; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#fcf9f9;}
.footer_ul_amrc li a:hover{ color:#fcf9f9; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

/* .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;color:#fcf9f9;}
.footer_ul2_amrc li p { display:table;color:#fcf9f9;  }
.footer_ul2_amrc li a:hover { text-decoration:none;color:#fcf9f9;}
.footer_ul2_amrc li i { margin-top:5px;color:#fcf9f9;} */

.bottom_border { border-bottom:1px solid #fcf9f9; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
  color:#fcf9f9;
}
.link{
  color: #fcf9f9;
}
.foote_bottom_ul_amrc li { display:inline;color:#fcf9f9; }
.foote_bottom_ul_amrc li a { color:#fcf9f9; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; color:#fcf9f9;}
.social_footer_ul li a { color:#fcf9f9; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;color:#fcf9f9;}



/*======================================
   About Us CSS
========================================*/
.aboutus-section {
    padding: 90px 0;
    margin-top: auto;
    justify-content: center;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #1e3c72;
    /* background: linear-gradient(to right, #1e3c72, #2a5298) */
}
.aboutus-title::after {
    background:  #1e3c72 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #0c0a0a;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px 10px;

}

a:hover, a:active {
    color: #1e3c72;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #1e3c72;
    border-radius: 25px;
    color: #1e3c72;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: ##1e3c72 none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
    margin-right: 20px;
    margin-left: 30px;
}
.feature .feature-box .iconset::after {
    background: #1e3c72 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
    margin-left: 10px;
}

.feature .feature-box .feature-content h4 {
    color: #1e3c72;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;

}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
    margin-left: 70px;
}
.feature .feature-box .feature-content h4 {
    color: #1e3c72;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #0c0a0a;
    font-size: 13px;
    line-height: 22px;
    margin-left: 10px;
}
.icon {
    color : #1e3c72;
    padding:0px;
    font-size:40px;
    border: 1px solid #1e3c72;
    border-radius: 100px;
    color: #1e3c72;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    margin-left: 10px;
}
}

/*======================================
   End About Us CSS
========================================*/


/*======================================
   Contact Us CSS
========================================*/
#contact{
    background-color:#1e3c72;
    font-family: 'Roboto', sans-serif;
}

#contact .well{
    margin-top:30px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
    border-radius:10;
    border:2px solid #1e1e1e;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) {
    #contact iframe {
        margin-bottom: 15px;
    }

}

/*======================================
   End Contact Us CSS
========================================*/

/*======================================
   Shop CSS
========================================*/
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
/*======================================
   End Shop CSS
========================================*/

/*======================================
   login CSS
========================================*/

.secound-head .navbar-nav li .nav-link{
	color:#000;
}
.secound-head .navbar-brand{
	color:#000;
}
.secound-head.light-header{
	position:fixed;
	width:100%;
	background:#fff;
	z-index:99999;
	transition:ease 0.5s;
}
.login-page{
	background: #f6f6f6;  /* fallback for old browsers\
	background: -webkit-linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:40px 0px;
	min-height:450px;
	position:relative;
	display:inline-flex;
	width:100%;
}
.log-box{
	border-radius:10px;
	min-height:400px;
	box-shadow:0px 0px 10px #ccc;
	display:inline-block;
	width:100%;
}
.logo-back{
	background: url("../img/log-img.png");
	background-size: auto auto;
	display: inline-block;
	width: 100%;
	min-height: 450px;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
.log-content{
	padding:40px 20px 0px;
	display:inline-block;
	width:100%;
	background-color:#fff;
	min-height:460px;
	border-radius:0px 10px 10px 0px;
}
.myr-top{
	margin-top:15px;
}
.log-content .log-body{
	margin-top:50px;
}
.log-content label{
	margin:0px;
	font-family:Poppins-R;
	font-size:14px;
	display:none;
}
.log-content .custom{
	border-bottom:1px solid #000;
	padding:10px 10px 10px 0px
}
.log-btn{
	padding-bottom:20px;
}
.btn-theme1{
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#35cbdf;
	color:#fff;
	border:1px solid transparent;
	border-radius:50px;
	transition:ease 0.5s;
}
.btn-theme1:hover{
	color:#35cbdf;
	background-color:#fff;
	border:1px solid #000;
}
.log-bottom-cotent{
	margin-top:28%;
}
/* end login page css */
.copy-write{
	display:none !important;
}
/*======================================
   End login CSS
========================================*/
